<header>
    <div class="header-container-1">
        <nav>
            <menu class="Menu-uno">
                <div></div>
                <li><a  class="Op-Menu-uno" routerLink="/login">Personas</a></li>
                <li><a  class="Op-Menu-uno" routerLink="/login">Negocios</a></li>
                <li><a  class="Op-Menu-uno" routerLink="/login">Corporativos</a></li>
                <li><a  class="Op-Menu-uno" routerLink="/login">Negocios especializados</a></li>
                <li><a  class="Op-Menu-uno" routerLink="/login">Tu360</a></li>
                <li><a  class="Op-Menu-uno" routerLink="/login">Blog</a></li>
            </menu>
        </nav>
        <div>
            <menu>
                <li><a  class="Op-Menu-uno" routerLink="/login">Transparencia</a></li>
                <li><a  class="Op-Menu-uno" routerLink="/login">Consumidor</a></li>
                <div></div>
            </menu>
        </div>
    </div>

    <div class="header-container-2">
        <nav>
            <menu class="Menu-dos">
                <img src="assets/logo-bancolombia-black.svg" alt="Logo Bancolombia" itemprop="logo"
                    aria-label="ir a personas bancolombia">
                <li><a class="Op-Menu-dos" routerLink="/login">Inicio</a></li>
                <li><a class="Op-Menu-dos" routerLink="/login">Necesidades</a></li>
                <li><a class="Op-Menu-dos" routerLink="/login">Productos y servicios</a></li>
                <li><a class="Op-Menu-dos" routerLink="/login">Educacion financiera</a></li>
            </menu>
        </nav>
        <div>

            <a id="tramites-digtales" routerLink="/login">Trámites digitales</a>
            <button>Consumidor</button>
        </div>
    </div>

</header>