<section class="hero-container">
<div>
    <div>
        <h1><strong>Sucursal Virtual Personas.</strong></h1>
    </div>

    <div>
        <p>Realiza pagos, transferencias, consultas y gestiona <br>
            productos Bancolombia desde tu computador de una manera <br>
            fácil y segura las 24 horas.
        </p>
    </div>

    <div>
        <a routerLink="/login"><strong>Ingresar ahora</strong></a>
    </div>
</div>
    <img src="assets/optimized-banner-Sucursal-Virtual-Personas.png" alt="Logo Bancolombia" itemprop="logo"
        aria-label="ir a personas bancolombia">
    
</section>